<% @books.each do |book| %>
    <div class="book-show col-xs-12">
      <div class="col-xs-4">
        <img class="book-image" src="<%= book.photo_url %>">
      </div>
      <div class="col-xs-8">
        <%= book.title %><br>
        <%= book.author %><br>
        <%= book.description %><br />
      </div>
    </div>
<% end %>
