.book-show {
  
  .book-image-container {
    text-align: center;

    .book-image {
      margin-top: 40px;
    }
  }

  .book-border {
    border-bottom: 1px solid darkgray;
    border-top: 1px solid darkgray;
    margin-bottom: 20px;
  }

  .description-and-price {
    padding: 0;
  }

  .star-count {
    color: orange;
    margin-left: 10px;
  }

  .title {
    margin-top: 40px;
    color: orange;
    font-size: 20px;
  }

  .author {
    font-size: 15px;
  }

  .description {
    padding: 0 10px 0 0;
    font-size: 15px;
    margin-bottom: 40px;
    text-align: justify;
  }
}

.book-detail {

  .book-price {
    background-color: #ededed;
    color: orange;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    line-height: 70px;
  }

  .book-cart {
    background-color: #ededed;
    text-align: center;
    line-height: 70px;

    .btn-cart {
      color: white;
      background-color: orange;
      padding: 15px 20px;
      font-weight: bold;

      i {
        font-size: 30px;
      }
    }
  }
}

.book-comment {
  font-size: 15px;
  margin-bottom: 10px;

  .add-comment {
    color: orange;
    font-weight: bold;
  }

  .chevron-down {

    .rotate{
      -moz-transition: all linear;
      -webkit-transition: all linear;
      transition: all linear;
    }

    .rotate.down {
      -ms-transform:rotate(180deg);
      -moz-transform:rotate(180deg);
      -webkit-transform:rotate(180deg);
      transform:rotate(270deg);
    }

    i {
      color: orange;
      font-size: 15px;
    }
  }

  .star-mark {
    color: lightgray;
  }

  .text-comment {

    textarea
    {
      border:1px solid #999999;
      width:100%;
      margin:5px 0;
      padding:3px;
    }
  }

  .book-c-send {
    margin-bottom: 40px;

    .cancel-button {
      color: blue;
      font-size: 15px;
    }

    .button {
      background-color: orange;
      border: none;
      color: white;
      padding: 5px 25px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 15px;
      margin-top: -5px;
      cursor: pointer;
      font-weight: bold;
      vertical-align: middle;
    }
  }
}

.totalcomment {

  .comment-title {
    color: orange;
    font-size: 15px;
    margin-bottom: 20px;
  }

  .ex-comment {
    font-size: 15px;
    border-bottom: dotted;

    .username-com {
      color: orange;
    }
  }
}
