.book-border {
  border-bottom: 1px solid darkgray;
  border-top: 1px solid darkgray;
  margin-bottom: 20px;
}
.book-show {
  .book-image-container {
    text-align: center;
    width: calc(100% - 0px);
    display: inline-block;
    .book-image {
      width: 50%;
    }
    @media screen and (min-width: 780px)  {
      width:30%;
      text-align: left;
    }
  }
  .star-count {
    color: orange;
    margin-left: 10px;
  }
  .title {
    margin-top: 40px;
    color: orange;
    font-size: 20px;
  }
  .text-des {
    display: inline-block;
    @media screen and (min-width: 780px)  {
      width:40%;
    }
  }
  .author {
    font-size: 15px;
  }

  .description {
    font-size: 15px;
    margin-bottom: 40px;
  }
}
.book-detail {
  background-color: lightgray;
  height: 100px;
  display: inline-block;
  .book-price {
    color: orange;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    line-height: 100px;
    @media screen and (min-width: 780px)  {
    }
  }
  .book-cart {
    text-align: center;
    line-height: 100px;
    .btn-cart {
      color: white;
      background-color: orange;
      padding: 15px 20px;
      font-weight: bold;
    }
  }

}
.book-comment {
  font-size: 40px;
  margin-bottom: 10px;
  .add-comment {
    color: orange;
    font-weight: bold;
  }
  .chevron-down {
    i {
      color: orange;
      font-size: 40px;
    }
  }
  .star-mark {
    color: lightgray;
  }
  .text-comment {
    textarea
    {
      border:1px solid #999999;
      width:100%;
      margin:5px 0;
      padding:3px;
    }
  }
  .book-c-send {
    margin-bottom: 40px;
    .cancel-button {
      color: blue;
      font-size: 30px;
    }
    .button {
      background-color: orange;
      border: none;
      color: white;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 30px;
      margin-top: -5px;
      cursor: pointer;
      font-weight: bold;
      vertical-align: middle;
    }
  }
}
.totalcomment {
  .comment-title {
    color: orange;
    font-size: 40px;
    font-weight: bold;
  }
  .ex-comment {
    font-size: 30px;
    border-bottom: dotted;
    .username-com {
      color: orange;
    }
  }
}


