.sign-up-page {
  h4, h5 {
    color: orange;
  }

  .btn {
    background-color: orange;
    color: white;
  }

  .sign-up-container {
    margin-top: 15px;
    border: 1px solid rgb(204, 204, 204);
    border-radius: 4px;

    .field_with_errors {
      input {
        border: 1px solid orange;
      }
    }

    #error_explanation {
      padding: 20px;
      border: 1px solid orange;
      color: orange;
      background-color: #ffdba0;
      margin-bottom: 15px;

      h2 {
        font-size: 14px;
      }
    }

    form {
      padding: 13px;

      .actions {
        input[type="submit"] {
          border: none;
        }
        margin-bottom: 15px;
      }
    }
  }
}
